<robot name="010_potted_meat_can.urdf">
  <link name="baseLink">
    <contact>
      <friction_anchor />
      <lateral_friction value="0.8" />
      <rolling_friction value="0.001" />
      <spinning_friction value="0.001" />
      <contact_cfm value="0.0" />
      <contact_erp value="1.0" />
    </contact>
    <inertial>
       <origin rpy="0 0 0" xyz="0.0 0.0 0.0" />
       <mass value="0.370" />
       <inertia ixx="1e-3" ixy="0" ixz="0" iyy="1e-3" iyz="0" izz="1e-3" />
    </inertial>
    <visual>
      <geometry>
        <mesh filename="010_potted_meat_can/google_16k/textured.obj" scale="1 1 1" />
      </geometry>
      <material name="texture">
        <color rgba="1. 1. 1. 1." />
      </material>
    <origin rpy="0 0 0" xyz="0.032606390016998485 0.02639476557562084 -0.040998380505566964" /></visual>
    <collision>
      <geometry>
        <mesh filename="010_potted_meat_can/google_16k/textured_vhacd.obj" scale="1 1 1" />
      </geometry>
    <origin rpy="0 0 0" xyz="0.032606390016998485 0.02639476557562084 -0.040998380505566964" /></collision>
  </link>
</robot>